body {
    background-color: LightBlue;
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
}

h1 {
    padding-top: 150px;
    font-size: 36px;
}

p {
    font-size: 18px;
}
